html,

* {
	box-sizing: border-box;
}

p {
	margin: 0;
	font-size: 1.5vmin;
	display: inline-block;
}

body.home {
	margin: 0;
	padding: 0;
	height: 100%;
	background: url(../pictures/landscape.jpg) no-repeat center center fixed;
	font-family: sans-serif;
}

body.gallery {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #EEEEEE;
	font-family: sans-serif;
	font-size: 1.5vmin;
}

body.signup {
	margin: 0;
	padding: 0;
	height: 100%;
	background: url(../pictures/landscape.jpg) no-repeat center center fixed;
	font-family: sans-serif;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

/******* HEADER *******/

#header {
	background: #F7F7F7;
	height: 7.2vmin;
	box-shadow: 3px 0 2px 2px #6D6D6D;
	padding: 1.5vmin;
	padding-left: 8vmin;
	padding-right: 2vmin;
}

.logo {
	font-family: sans-serif;
	font-size: 3.2vmin;
	text-decoration: none;
	color: #000000;
	padding-right: 9vmin;
}

.gallery-link {
	margin-top: 2.1vmin;
	margin-right: 8vmin;
	float: right;
	font-family: sans-serif;
	font-size: 2vmin;
	color: #000000;
}

.home {
	padding-left: 40vmin;
	font-size: 1.5vmin;
}

.logout {
	padding-left: 1.3vmin;
	font-size: 1.5vmin;
}

/*************************/

#footer {
	background: #FFFFFF;
	width: 100%;
	height: 4vmin;
	position: absolute;
	opacity: 0.8;
	bottom: 0;
	left: 0;
	text-align: right;
	font-family: sans-serif;
	font-size: 1.7vmin;
	padding-right: 3vmin;
	padding-top: 1.1vmin;
	margin-bottom: 0;
}

.sign-menu {
	text-align: center;
	margin-top: 30vmin;
}

.input-style {
	margin-top: 0.5vmin;
  margin-bottom: 1vmin;
  padding-top: 0.5vmin;
  padding-bottom: 0.5vmin;
  font-size: 1.1vmin;
  font-family: sans-serif;
	border: none;
  width: 35vmin;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 0 0 #6D6D6D;
}

.submit-style {
	margin-top: 0.8vmin;
  padding-top: 0.8vmin;
  padding-bottom: 0.8vmin;
	font-size: 1.4vmin;
  font-family: sans-serif;
  border: none;
  width: 35vmin;
  box-shadow: 0 1px 0 0 #6D6D6D;
  background-color: #FE5A5A;
  border-radius: 6px 6px 6px 6px;
}

.signup-button-style {
	margin-top: 0.5vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  text-decoration: none;
	color: white;
  width: 35vmin;
	border: none;
  box-shadow: 0 1px 0 0 #6D6D6D;
  background-color: #0285D7;
  border-radius: 6px 6px 6px 6px;
}

.reset-button-pwd-style {
/* 	margin-top: 1vmin;*/
  border: none;
  width: 35vmin;
  box-shadow: 0 1px 0 0 #565656;
  border-radius: 2px 2px 2px 2px;
  color: white;
}

.signup-style {
	text-align: center;
	margin-top: 19vmin;
}

.reset-password-style {
	text-align: center;
	margin-top: 19vmin;
}

/************* GALLERY STYLE **************/

.gallery-container {
	text-align: center;
}

.gallery-img-container {
	margin-top: 1.6vmin;
	margin-bottom: 4.2vmin;
	margin-right: 0.5vmin;
	height: 33vmin;
	width: 33vmin;
	display: inline-block;
	text-align: center;
	border-style: solid;
	border-color: #6D6D6D;
	border-width: 0.1vmin;
}

.img-props-gallery {
	height: 28vmin;
	width: 28vmin;
	padding: 0.4vmin;
}

.comments {
  background-color: #B2B2B2;
  vertical-align: top;
  align: right;
  width: 33vmin;
  height: 4vmin;
  overflow: auto;
  display: inline-block;
  font-size: medium;
  margin-top: 1.7vmin;
  text-align: left;
	border-style: solid;
	border-color: #6D6D6D;
	border-width: 0.1vmin;
}

.gallery-pagination {
	text-align: center;
	margin-top: 2vmin;
}

.input-comment {
	width: 5vmin;
	height: 1.2vmin;
}

.submit-like {
	width: 3.4vmin;
	height: 1vmin;
	font-size: 1vmin;
}

.submit-comment {
	width: 3.4vmin;
	height: 1.2vmin;
	font-size: 1vmin;
}

/************************************************/


/****** Home Page *********/

#main-container {
 	float: left;
	width: 65%;
	height: 750px;
 }

#side-container {
 	float: left;
 	width: 35%;
 	height: 900px;
 }

#filter-container {
	margin-top: 2.5vmin;
	margin-left: 15vmin;
}

.filters {
 	width: 15%;
 	height: 15%;
 	padding: 10px;
}

.filters:hover {
	border: 2px solid black;
}

#webcam-container {
 	margin-top: 2%;
 	margin-left: 30%;
}

#canvas {
	display: none;
}

#webcam {
	height: 35vmin;
}

#startbutton {
	text-align: 40%;
	width: 45vmin;
	height: 2vmin;
}

#video {
	height: 40vmin;
	width: 45vmin;
	padding: 0;
}

#img-upload {
	margin-top: 8vmin;
	margin-left: 30%;
	width: 45vmin;
	font-family: sans-serif;
	color: white;
	font-size: 12px;
}

.upload-button {
	color: black;
	font-size: 2vmin;
	margin-top: 2vmin;
	width: 45vmin;
	font-size: 2vmin;
}

.file-button {
	width: 18vmin;
}

.delbutton {
	width: 20vmin;
	height: 1.6vmin;
	font-size: 1.1vmin;
}

.img_snap_container {
	text-align: center;
	margin-top: 1vmin;
}

.image_snap {
	height: 20vmin;
	width: 25vmin;
	padding: 2px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.snap-pagination {
	text-align: center;
	height: 3vmin;
	margin-top: 2vmin;
}

.delbutton {
	text-align: center;
}

.home-pagination {
	color: white;
	padding: 0.2vmin;
}
/**************************/

#home_footer {
 	height: 10%;
 	background-color: #D2DEA3;
}